client/dist/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>BaRbArIaN pIcNiC</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/shake.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="./scripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <link href="styles/theme.css" rel="stylesheet">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover"><br><a href="http://screenshake.xyz/">
              <h1>http://screenshake.xyz/</h1></a><br>
            <h2 class="cover-heading">Как играть?</h2><br><br>
            <p class="lead">1. <a class="btn btn-default" href="/game.html">Открыть страницу</a> на <u>большом экране</u> и получить номер комнаты.</p><br><br>
            <p class="lead">
              2. Затем из браузера <u>смартфона или планшета</u> перейти на <a class="btn btn-default" href="/phone.html">страницу</a>
              и ввести номер комнаты.
            </p><br><br>
            <h1 class="cover-heading">Так как играть!?</h1><br><br>
            <p class="lead">
              <img src="images/tilt.png">
              <img src="images/shout.png">
            </p>
            <p class="lead">Нужно крутить телефон и кричать.</p><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62297082-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>

client/app/index.jade
extends layout

block content
  link(href="styles/theme.css", rel="stylesheet")
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          br
          a(href="http://screenshake.xyz/")
            h1 http://screenshake.xyz/
          br
          h2.cover-heading Как играть?
          br
          br
          p.lead.
            1. <a class="btn btn-default" href="/47hours-5/client/dist/game.html">Открыть страницу</a> на <u>большом экране</u> и получить номер комнаты.
          br
          br
          p.lead.
            2. Затем из браузера <u>смартфона или планшета</u> перейти на <a class="btn btn-default" href="/47hours-5/client/dist/phone.html">страницу</a>
            и ввести номер комнаты.
          br
          br
          h1.cover-heading Так как играть!?
          br
          br
          p.lead.
            <img src="images/tilt.png">
            <img src="images/shout.png">
          p.lead.
            Нужно крутить телефон и кричать.
          br
          br
          br
          br  
