client/dist/phone.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>BaRbArIaN pIcNiC</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/shake.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="info"></div>
    <link href="styles/theme.css" rel="stylesheet">
    <button style="position: fixed; top:0; left:0; right:0; bottom:0; width:100%; height: 100%; display: none; color: red;" class="click">Нажмите чтобы кричать. <br>(К сожалению iOS не поддерживает захват звука, поэтому мы сделали для вас эту кнопку)</button>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <form id="id-form" style="width:300px; margin: 0 auto;" class="form-signin">
              <h2 class="form-signin-heading">Введите номер комнаты.</h2>
              <p>Номер комнаты можно получить с помощью компьютра или другого устройства. <br>Инструкция на сайте <a href="http://screenshake.xyz/">http://screenshake.xyz/</a></p><br>
              <input id="desktop-id" type="text" placeholder="#room" class="form-control"><br>
              <!--input(type='submit' value='Send')-->
              <button type="submit" class="btn btn-lg btn-default btn-block">Поехали</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <canvas width="0" height="0" class="visualizer"></canvas>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/phone.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-62297082-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>

client/app/phone.jade
extends layout

block content
  .info
  link(href="styles/theme.css", rel="stylesheet")
  button.click(style="position: fixed; top:0; left:0; right:0; bottom:0; width:100%; height: 100%; display: none; color: red;") Нажмите чтобы кричать. <br>(К сожалению iOS не поддерживает захват звука, поэтому мы сделали для вас эту кнопку)
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          form#id-form.form-signin(style="width:300px; margin: 0 auto;")
            h2(class="form-signin-heading") Введите номер комнаты.
            p Номер комнаты можно получить с помощью компьютра или другого устройства. <br>Инструкция на сайте <a href="http://screenshake.xyz/">http://screenshake.xyz/</a>
            br
            input#desktop-id.form-control(type='text' placeholder="#room")
            <br>
            //input(type='submit' value='Send')
            button.btn.btn-lg.btn-default.btn-block(type="submit") Поехали
  canvas(class="visualizer" width="0" height="0")
  
block script
  // build:js scripts/phone.js
  script(src='scripts/audio.js')
  script(src='scripts/phone.js')
  // endbuild
